{# use this to expose rerouting email is missing #}
<div class='mail-reroute mail-reroute-missing'>
  <a href='/admin/config/development/reroute_email'>
    <img class='icon missing' src="/{{ path }}/assets/css/images/reroute_mail_be_grey_36x28.png" alt="{{'Reroute mail is missing'|t}}" title="{{'Reroute mail is missing'|t}}">
  </a>
</div>
