{# use this to expose rerouting is enabled #}
<div class='mail-reroute mail-reroute-enabled'>
  <a href='/admin/config/development/reroute_email'>
    <img class='icon enabled' src="/{{ path }}/assets/css/images/reroute_mail_be_green_36x28.png" alt="{{'Reroute mail is enabled'|t}}" title="{{'Reroute mail is enabled'|t}}">
  </a>
</div>
