{# use this to expose rerouting is disabled #}
<div class='mail-reroute mail-reroute-disabled'>
  <a href='/admin/config/development/reroute_email'>
    <img class='icon disabled' src="/{{ path }}/assets/css/images/reroute_mail_be_red_36x28.png" alt="{{'Reroute mail is disabled'|t}}" title="{{'Reroute mail is disabled'|t}}">
  </a>
</div>
